@charset "utf-8";
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 设置图片视频等自适应调整 */
img {
  display: block;
}
.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}
/* 公共库 */
body,
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
button,
figcaption,
figure,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  width: 100%;
  margin: 0 auto;
  outline: 0;
  -webkit-text-size-adjust: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;

}
a img {
  border: none;
}
a > img {
  vertical-align: bottom;
}
/* 页面主代码 */
body {
  font-family: 'Heiti SC', 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  *overflow-y: auto !important;



}
@function px2rem($px){
    $rem:37.5px;
    @return ($px/$rem)+rem;
}
$color:#2a2a2a;
$zhu:#bd2424;
$hong:#c30d23;
@mixin radius($val){
    -webkit-border-radius:$val;    
    -moz-border-radius:$val;   
    border-radius:$val;
}
@mixin boxshodow($val){
    -webkit-box-shadow: $val;    
    -moz-box-shadow: $val;    
    box-shadow: $val;
}
%clear{
	  content:"";
		height:0;
		display: block;
		clear: both;
		visibility: hidden;
}
%font-size-no{
    font-size: 0;
    -webkit-text-size-adjust: none;
}

/*导航*/
.top{
    width:1200px;
    margin:0 auto;
    height: 80px;
    position: relative;
    .logo{
        width: 280px;
        height: 80px;
    }
    .nav{
        font-size: 16px;
        line-height: 80px;
        position: absolute;
        top: 0;
        right: 0;

        &:after{
            @extend %clear;
        }        
        li{
            width:112px;
            height: 78px;
            float: left;
        }
        a{
            color: $color;
            display: block;
            height: 78px;
            text-align: center;
            transition:all 0.3s;
            &:hover{
                background:$zhu ;
                color: #fff;  
            }
        }
        a.on{
            background:$zhu ;
            color: #fff;
        }
        
    }
}



/*banner*/
.fullSlide {
    width:100%;
    position:relative;
    height:700px;
    background:#030304;
    
}
.fullSlide .bd {
    margin:0 auto;
    position:relative;
    z-index:0;
    overflow:hidden;
}
.fullSlide .bd ul {
    width:100% !important;
}
.fullSlide .bd li {
    width:100% !important;
    height:700px;
    overflow:hidden;
    text-align:center;
}
.fullSlide .bd li a {
    display:block;
    height:410px;
}
.fullSlide .hd {
    width:100%;
    position:absolute;
    z-index:1;
    bottom:0;
    left:0;
    height:60px;
    
}
.fullSlide .hd ul {
    text-align:center;
}
.fullSlide .hd ul li {
    cursor:pointer;
    display:inline-block;
    *display:inline;
    zoom:1;
    width:52px;
    height:4px;
    margin:6px;
    overflow:hidden;
    background:#fff;
    //filter:alpha(opacity=50);
    //opacity:0.5;
    line-height:999px;
}
.fullSlide .hd ul .on {
    background:#bd2525;
}
.fullSlide .prev,.fullSlide .next {
    display:block;
    position:absolute;
    z-index:1;
    top:50%;
    margin-top:-30px;
    left:2%;
    z-index:1;
    width:40px;
    height:60px;
    background:url(../images/slider-arrow.png) -127px -137px #000 no-repeat;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:0.5;
    display:none;
}
.fullSlide .next {
    left:auto;
    right:2%;
    background-position:-6px -137px;
}


/*业务范围*/
    .myh{
        text-align: center;
        margin-bottom: 50px;
        h2{
            color: #666;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 24px;
            margin-bottom: 6px;
            
            &:after{
                content:"";
                display: inline-block;
                background:$hong;
                height: 1px;
                width: 20px;
                vertical-align: middle;
                margin-left: 6px;
                
            }
            &:before{
                content:"";
                display: inline-block;
                background:$hong;
                height: 1px;
                width: 20px;
                vertical-align: middle;
                margin-right: 6px;
            }
        }  
        h3{
            color: #666;
            font-weight: normal;
            font-size: 20px;
        }
    }
.ywfw{
    width:1200px;
    margin:0 auto;
    padding-top: 70px;


}
.service{
    display: -webkit-flex;
    
    display: -o-flex;
    
    display: -moz-flex;
    
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
                text-align: center;
    li{
        display: inline-block;
             width:287px;
            height: 228px;  
            overflow: hidden;   
            margin-bottom: 60px;  
            position: relative;
            a{
               
                img{
                    width:287px;
                    height: 228px;
                }
                .myp{
                    position: absolute;
                    left: 0;
                    top: 192px;
                    width: 100%;
                    height: 228px;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    color: #fff;
                    background: rgba(0,0,0,0.7);
                    transition: all 0.2s;
                    span{
                        display: block;
                    }
                                
                }
                &:hover{
                    .myp{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 228px;
                        text-align: center;
                        padding-top: 60px;
                        line-height: 36px;
                        font-size: 16px;
                        color: #fff;
                        background: rgba(195,13,35,0.8);
                        span{
                            display: block;
                            width: 40%;
                            line-height: 32px;
                            border: 1px solid #fff;
                            margin: 16px auto 0;
                        }
                                    
                    }  
                }    
            }

    }
    
    
}

/*案例展示*/
.case{
   background: url(../images/case-bg.jpg) center; 
   height: 604px;
   padding-top: 40px;
}


        .picMarquee-left{ width:100%; max-width:1440px;overflow:hidden; position:relative; margin: 0 auto; }
        .picMarquee-left .hd{ overflow:hidden;  }
        .picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block; width:33px; height:59px; margin-right:5px; margin-top:10px;  overflow:hidden;
             cursor:pointer; background:url("../images/arrow.png") no-repeat;}
        .picMarquee-left .hd .next{ background-position:-33px 0 ;position: absolute;  top: 50%; right: 0;margin-top: -30px;}
        .picMarquee-left .hd .prev{position: absolute;  top: 50%;left: 0;margin-top: -30px; }
        .picMarquee-left .bd{ padding:10px ;   }
        .picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
        .picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
        .picMarquee-left .bd ul li .pic{ text-align:center; }
        .picMarquee-left .bd ul li .pic img{    width: 405px;  height: 371px; display:block; padding:2px; border:1px solid #ccc; }

        .picMarquee-left .bd ul li .title a{ line-height:54px; color: #242424;  }
        
        
.tempWrap{
    margin:auto;
}



/*店面环境*/
.dmhj{
    width:1200px;
    margin:0 auto;
    padding-top: 70px;
    padding-bottom: 30px;


}
.Store{
    display: -webkit-flex;
    
    display: -o-flex;
    
    display: -moz-flex;
    
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
                text-align: center;
    li{
        display: inline-block;
             width:388px;
            height: 323px;  

            margin-bottom: 30px;  
            position: relative;
            a{
               
                img{
             width:388px;
            height: 271px;  
                }
                .myp{

                    width: 100%;
                    height: 52px;
                    text-align: center;
                    line-height: 52px;
                    font-size: 16px;
                    color: #242424;
 

                                
                } 
            }

    }
    
    
}


/*服务流程*/

.fwlc-wrap{
    background: #b22f34 url(../images/fwlc-bg.jpg) center; 
    padding: 50px 0 ;  
    .myh{

        h2{
            color: #fff;

            
            &:after{
                content:"";
                display: inline-block;
                background:#fff;
                height: 1px;
                width: 20px;
                vertical-align: middle;
                margin-left: 6px;
                
            }
            &:before{
                content:"";
                display: inline-block;
                background:#fff;
                height: 1px;
                width: 20px;
                vertical-align: middle;
                margin-right: 6px;
            }
        }  
        h3{
            color: #fff;

        }
    }
    
}
.fwlc{
    width:1200px;
    margin:0 auto;




}
.flow{
    display: -webkit-flex;
    
    display: -o-flex;
    
    display: -moz-flex;
    
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
                text-align: center;
    li{
        display: inline-block;
             width:124px;


            position: relative;
            a{
               
                img{
             width:124px;
            height: 117px;   
                }
                .myp{

                    width: 100%;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 16px;
                    color: #fff;
 

                                
                } 
            }

    }
    
    
}

/*footer*/
.footer{
    background: #252525;
    .footerno{
        width:1200px;
        height: 200px;
        margin:0 auto;  
        position: relative;
        .logo-footer{
            position: absolute;
            top: 30px;
            left: 0;
            width: 189px;
            height: 128px;
        }
        .Store-search{
            position: absolute;
            top: 48px;
            left: 280px;  

            h2{
                font-size: 28px;
                color: $hong;
                border-bottom: 4px solid $hong;
                padding-bottom: 12px;
                            margin-bottom: 20px;
                            display: inline-block;
            } 
            .mysearch{
                width: 260px;
                height: 38px;
                text-indent: 1em;
            }
            .mysubmit{
                width: 38px;
                height: 38px; 
                background: $hong;
                color: #FFF;               
            }
        }
        .mydizi{
            position: absolute;
            top: 52px;
            left: 670px;  
            color: #919191;
            font-size: 14px;
            p{
                margin-bottom: 20px;
            }
            .tel{
                &:before{
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 16px;
                    background: url(../images/tel-icon.png) center no-repeat;
                    background-size:100% 100% ;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            .email{
                &:before{
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 16px;
                    background: url(../images/email-icon.png) center no-repeat;
                    background-size:100% 100% ;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            .address{
                &:before{
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 16px;
                    background: url(../images/address-icon.png) center no-repeat;
                    background-size:100% 100% ;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
            
        }
        .gfwx{
            position: absolute;
            top: 35px;
            right: 0;
            dd{
                font-size: 12px;
                color: #919191;
                text-align: center;
                line-height: 3em;
            }
        }
    }
    .copy{
        background: #1d1d1d;
        color: #7d7d7d;
        font-size: 12px;
        text-align: center;
        line-height: 48px;
        border-top: 1px solid #323232;
    }
}


.myleft{
    position: fixed;
    z-index: 999999999999;
    right: 0;
    top: 30%;
    width: 218px;



        a{
            display: block;
            color: #fff;
         line-height: 54px;  
                  height:54px ;
        margin-bottom: 1px;   
        position: relative; 
        left:163px; 
        transition: all 0.3s;
        }

    .left-tel{
        background: #cf3d4f;
        &:before{
            content:"";
            display: inline-block;
            width: 54px;
            height: 54px;
            border-right: 1px solid #fff; 
            vertical-align: top;
            margin-right: 20px;
            background: #c30d23 url(../images/left-tel.png) center no-repeat;
        }
        &:hover{
          left:0;   
        }
    }
    .left-qq{
        background: #2f2e2e;
        &:before{
            content:"";
            display: inline-block;
            width: 54px;
            height: 54px;
            border-right: 1px solid #fff; 
            vertical-align: top;
            margin-right: 20px;
            background: #222222 url(../images/left-qq.png) center no-repeat;
        }
        &:hover{
          left:0;   
        }
    }
    .left-weixin{
        background: #2f2e2e;
        &:before{
            content:"";
            display: inline-block;
            width: 54px;
            height: 54px;
            border-right: 1px solid #fff; 
            vertical-align: top;
            margin-right: 20px;
            background: #222222 url(../images/left-weixin.png) center no-repeat;
        }
        &:hover{
          left:0;   
        }
    }
    .left-top{
        background: #6b6b6b;
        &:before{
            content:"";
            display: inline-block;
            width: 54px;
            height: 54px;
            border-right: 1px solid #fff; 
            vertical-align: top;
            margin-right: 20px;
            background: #6b6b6b url(../images/left-top.png) center no-repeat;
        }
    }
}
